.custom-height {
    height: calc(100% - 109px); /* Login */
  }

.login-background {
  background-image: url('/images/login-background.svg');
  background-size: cover; 
  background-position: center;
}
.passsword-background {
    background-image: url('/images/password-background.svg');
    background-size: cover; 
    background-position: center;
}
.forgotpasssword-background {
    background-image: url('/images/forgot-password-background.svg');
    background-size: cover; 
    background-position: center;
}